@import "../../sass/variables.scss";

.nft-item-loading-card {
  background: $background2;
  position: relative;

  .details-container {
    padding: 16.5px;

    .item-name {
      height: 20px;
      background: #2c3037;
      width: 70%;
      margin-bottom: 9px;
    }

    .collection-and-price-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .collection-name {
        background: #2c3037;
        width: 50%;
        height: 13px;
      }

      .price-container {
        height: 13px;
        background: #2c3037;
        width: 40px;
      }
    }
  }
}
