$body-background: #090619;
$background2: #111321;
$gradient: linear-gradient(101.44deg, #00D1FF -8.5%, #1E41F7 115.12%);

$text-color-white: #FFFFFF;
$text-color-gray: rgba(219, 219, 219, 0.65);
$text-color-red: #EF607E;
$text-color-green: #98F7CB;
$separator: #20252C;