@import "../../sass/variables.scss";

.app-navbar {
  background: $background2;
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;

  .main-navbar {
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: relative;

    .brand-container {
      display: flex;
      align-items: center;
      margin-right: 30px;
      text-decoration: none;
      position: relative;
      .Public-Beta {
        font-size: 9px;
        position: absolute;
        top: -16px;
        right: -14px;
        color: #fff;
        background: #7e29ff;
        padding: 1px 10px;
        font-weight: 300;
        border-radius: 20px;
      }
      img {
        width: 25px;
        height: auto;
      }

      .body-text {
        font-size: 20px;
        line-height: 24px;
        text-align: left;
        margin-left: 10px;
      }
    }

    .sidebar-open-btn {
      display: none;
      margin-right: 20px;
      cursor: pointer;

      * {
        pointer-events: none;
      }
    }

    .search-bar-container {
      margin-right: auto;
      flex: 1;
      width: 100%;
    }

    .search-icon-btn {
      margin-right: 20px;

      svg {
        width: 20px;
        height: auto;
      }
    }

    .nav-toggler,
    .search-icon-btn {
      display: none;
      cursor: pointer;
    }

    .nav-toggler {
      margin-left: 15px;
    }

    .nav-links {
      list-style: none;
      display: flex;
      padding-left: 20px;
      margin-bottom: 0;

      li {
        margin-right: 30px;
        cursor: pointer;
        opacity: 0.6;
        transition: all 0.5s;

        &:hover {
          opacity: 1;
        }
      }
    }

    .wallet-options-container {
      position: relative;
      .wallet-address-btn {
      }
      .dropdown-options {
        background: $background2;
        border-radius: 5px;
        position: absolute;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 150px;
        right: 0;
        top: 100%;
        padding: 10px;
        border: 1px solid $separator;
        margin-top: 20px;

        li {
          height: 30px;
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          .body-text {
            transition: all 0.4s;
          }
          &:hover {
            .body-text {
              color: white;
            }
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        &.visible {
          top: 100%;
          opacity: 1;
          pointer-events: all;
        }

        &.hidden {
          top: -15px;
          opacity: 0;
          pointer-events: none;
        }

        &:hover {
          .body-text {
            color: rgba(255, 255, 255, 0.568);
          }
        }
      }
    }

    .connect-wallet-btn {
      margin-left: 20px;
    }
  }
}

@media only screen and (max-width: 1020px) {
  .app-navbar {
    .main-navbar {
      .nav-toggler {
        display: block;

        &.hidden {
          display: none;
        }
      }

      .nav-links {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .app-navbar {
    .main-navbar {
      .sidebar-open-btn {
        // display: block;
      }

      .brand-container {
        .body-text {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 620px) {
  .app-navbar {
    .Public-Beta {
      top: 4px !important;
      right: -88px !important;
    }
    .main-navbar {
      margin-left: 30px;
      .brand-container {
        margin-right: auto;
      }
      .connect-wallet-btn {
        display: none;
      }

      .sidebar-open-btn {
        // margin-right: auto;

        &.hide-mobile {
          display: none;
        }
      }

      .nav-toggler {
        margin-right: 0;
      }

      .search-bar-container {
        display: none;
        margin-right: 20px;

        &.show {
          display: flex;
        }
      }

      .search-icon-btn {
        display: block;
        margin-right: 0;
      }
    }
  }
}
