@import "../../../../sass/variables.scss";
@import "../../../../components/BodyText/BodyText.scss";

.subscribe-section {
  .section-padding {
    position: relative;
    background: linear-gradient(97.09deg, #1861f9 -0.53%, rgba(255, 255, 255, 0) 100%);
    border-radius: 30px;
    overflow: hidden;
    padding: 2px;
    z-index: 0;

    .content {
      z-index: 1;
      padding: 70px 5%;

      .details {
        .body-text {
          &:nth-child(1) {
            font-size: 18px;
            line-height: 27px;
            color: rgb(0, 168, 206);
          }

          &:nth-child(2) {
            font-size: 34px;
            line-height: 40px;
            margin: 25px 0 15px;
          }

          &:nth-child(3) {
            max-width: 560px;
            line-height: 27px;
            color: $text-color-gray;
          }
        }

        .subscribe-form {
          border: 1px solid rgb(0, 168, 206);
          max-width: 600px;
          height: 60px;
          border-radius: 50px;
          background: rgba(250, 250, 250, 0.1);
          backdrop-filter: blur(30px);
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 45px;
          overflow: hidden;
          padding: 5px;

          input {
            @include body-text();
            flex: 1;
            height: 100%;
            background: transparent;
            border: none;
            outline: none;
          }

          .main-button {
            .body-text {
              color: white;
            }
          }
        }
      }
    }

    .bg-img-container {
      position: absolute;
      top: 2px;
      bottom: 2px;
      right: 2px;
      left: 2px;
      z-index: -1;
      border-radius: 30px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 100%;
        min-width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 1151px) {
  .subscribe-section {
    padding: 0 5%;
  }
}
