@import "../../../../sass/variables.scss";
@import "../../../../components/BodyText/BodyText.scss";

.gallery-section {
  .head {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: wrap;

    .filter-open-btn {
      display: none;
      cursor: pointer;
      opacity: 0.7;
      margin-right: 20px;
    }
    .search-bar {
      display: flex;
      align-items: center;
      height: 40px;
      flex: 1;
      background: $background2;
      border-radius: 5px;
      padding: 0 18px;

      svg {
        width: 13px;
        height: auto;
      }

      input {
        @include body-text();
        outline: none;
        background: transparent;
        border: none;
        padding: 0 10px;
        font-size: 12px;
      }
    }

    .icons-container {
      display: flex;
      border: 1px solid $separator;
      border-radius: 5px;
      background: $background2;

      .icon {
        cursor: pointer;
        padding: 13px;
        border-right: 1px solid $separator;
        cursor: pointer;
        padding: 11px 11px;
        border-right: 1px solid #20252c;
        display: flex;
        align-items: center;

        svg {
          width: 13px;
          height: auto;
        }

        &:last-child {
          border: none;
        }
      }
    }
  }

  .cards-container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    &.show-more {
      grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
      grid-gap: 20px;
    }
  }
}

@media only screen and (max-width: 720px) {
  .gallery-section {
    .head {
      .filter-open-btn {
        display: block;
      }
      .search-bar {
        margin: 0;
      }
      .icons-container {
        display: none;
      }
    }
  }
}
