.hero-section {
  height: 650px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .section-padding {
    z-index: 2;

    .content {
      .hero-text {
        font-size: 53px;
        max-width: 500px;
        margin-bottom: 37px;
      }
    }
  }

  .bg-darkener,
  .bg-img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .bg-darkener {
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.71) 100%);
    background-blend-mode: multiply;
    // background-blend-mode: multiply;
  }

  .bg-img-container {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      min-height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  h3 {
    font-size: 22.65px;
    line-height: 33.97px;
    color: #fff;
  }
  h2 {
    font-size: 57px;
    font-style: normal;
    font-weight: 600;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    // background: linear-gradient(123.35deg, #ebf3d0 0%, rgba(235, 243, 208, 0) 18.4%),
    //   radial-gradient(29.9% 70.94% at 44.25% 86.96%, #dc8ddc 0%, rgba(220, 141, 220, 0) 100%),
    //   radial-gradient(33.83% 53.57% at 35.87% 100%, #dc8ddc 0%, rgba(220, 141, 220, 0) 100%),
    //   radial-gradient(42.66% 49.72% at 45.56% 44.65%, #cbadeb 0%, rgba(194, 166, 241, 0) 100%),
    //   linear-gradient(134.59deg, #cdf9e8 20.63%, rgba(205, 249, 232, 0) 47.84%),
    //   linear-gradient(216.44deg, rgba(192, 169, 240, 0) -16.52%, #c0a9f0 -1.04%, rgba(192, 169, 240, 0) 16.99%),
    //   linear-gradient(128.53deg, rgba(192, 169, 240, 0) 28.63%, #c0a9f0 38.5%, rgba(192, 169, 240, 0) 50.26%),
    //   radial-gradient(
    //     40.75% 97.37% at 90.75% 40.15%,
    //     #fffdb1 0%,
    //     #fee4bf 34.46%,
    //     #f0bdd0 69.5%,
    //     rgba(255, 129, 38, 0) 100%
    //   ),
    //   linear-gradient(0deg, #c2a6f1, #c2a6f1);
    // background-clip: text;
    // -webkit-text-fill-color: transparent;
  }
  p {
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 500px;
  }
  a {
    background: linear-gradient(262.65deg, #a91cff 13.38%, #1e62f8 80.41%) !important;
    width: 120px;
    border-radius: 6px !important;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    height: 45px;
    font-size: 13px;
    font-weight: 300;
    svg {
      margin-right: 5px;
    }
  }
  button {
    background: linear-gradient(262.65deg, #a91cff 13.38%, #1e62f8 80.41%) !important;
    width: 120px;
    border-radius: 6px !important;
    svg {
      margin-right: 5px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .hero-section {
    .bg-img-container {
      img {
        height: 100%;
        width: auto;
      }
    }
  }
}
