@import "../../../../sass/variables.scss";

.bid-modal {
  .modal-content {
    max-width: 400px;
    min-height: 300px;
    text-align: center;
    padding: 30px;
    justify-content: flex-start;

    .head {
      padding-bottom: 20px;
      border-bottom: 1px solid $separator;
      .title {
        font-size: 18px;
      }
    }

    .body {
      position: relative;
      .input-box {
        margin-top: 40px;
        background-color: $body-background;
      }

      .main-button {
        margin-top: 40px;
        width: 100%;
      }
    }
  }
}

.text-validation {
  font-size: 12px;
  position: absolute;
  left: 0;
  top: 20px;
  color: #fb1f1f;
}
