.all-collections-page {
  padding: 5% 10%;
  .page-title {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .loading-circle-container {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .collections-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
  }
}

@media only screen and (max-width: 900px) {
  .all-collections-page {
    .head {
    }

    .collections-container {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media only screen and (max-width: 600px) {
  .all-collections-page {
    .head {
    }

    .collections-container {
      grid-template-columns: 1fr;
    }
  }
}
