@import "../../sass/variables.scss";
.display-between {
  display: flex;
  justify-content: space-between;
  button {
    min-width: 100px !important;
  }
}
.popular-content {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}
