.attribute-card {
  padding: 10px;
  border: 1px solid #ffffff1f;
  border-radius: 5px;
  position: relative;
  width: calc(50% - 5px);

  .copy-btn {
    position: absolute;
    top: 0px;
    right: 5px;
    cursor: pointer;
  }

  .body-text {
    &.light {
      font-size: 11px;
      margin-bottom: 0px;
    }

    &.bold {
      font-size: 14px;
      font-weight: 300;
    }

    &.name {
      text-transform: uppercase;
    }

    &.value {
      text-transform: capitalize;
      width: 100%;
      overflow: hidden;
    }
  }
}
